.App,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

.App {
  &__SidePanel {
    display: flex;
    flex-direction: column;
    width: 20em;
    gap: 1em;
    align-items: center;
    padding: 2em;

    &--Horizontal {
      flex-direction: row;
    }

    & .Button {
      width: 100%;
    }
  }
}
