.App, body, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

.App {
  &__Header {
    padding: 10px 5px;

    &--Title {
      font-family: "Outfit", sans-serif;
      font-size: 2.5rem;
      font-weight: 600;
    }
  }

  &__SidePanel {
    display: flex;
    flex-direction: column;
    width: 20em;
    gap: 1em;
    align-items: center;
    padding-block: 2em;
  }
}

.Appl__Application {
  flex-direction: row !important;
}
